<template>
  <header class="header"><NavBar /></header>
</template>

<script>
import NavBar from "./NavBar";

export default {
  name: "Header",
  components: { NavBar },
};
</script>

<style>

.header {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

</style>
