<template>
  <nav class="navbar">
    <NavItem v-for="item in items" :key="item.name" :text="item.name" />
  </nav>
</template>

<script>
import NavItem from "./NavItem";

export default {
  name: "NavBar",
  components: { NavItem },
  data() {
    return {
      items: [{ name: "home" }, { name: "about" }, { name: "contacts" }],
    };
  },
};
</script>

<style>

.navbar {
  display: flex;
  width: 940px;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

</style>
