<template>
  <a class="text" href="#">{{ text }}</a>
</template>

<script>
export default {
  name: "NavItem",
  props: ["text"],
};
</script>

<style>

.text {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
  font-family: sans-serif;
}

</style>
